<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>未来时光</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <Link rel="ICON NAME" href="https://s2.ax1x.com/2019/04/17/Az5yrD.png" />
</head>
<body>
    <div id="root"></div>
</body>
</html>
